<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>registro Agapea</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/public/images/cabecera.png">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3><strong>acceso a Agapea.com</strong</h3>
                <p>Para poder disfrutar de algunos de nuestros servicios, debes estar registrado en nuestra web</p>
            </div>
        </div>
        {{#if mensajeError}}
            <div class="row">
                <div class="col">
                    <span class="text-danger">{{this.mensajeError}}</span>
                </div>
            </div>
        {{/if}}   
        <div class="row">
            <div class="col-4">
                <div>
                    <p><h3>Identificate</h3></p>
                    <br>
                    <a href=""><img src="/public/images/boton_Google.png"></a>
                    <br>
                    <small>o bien con tu usuario de agapea</small>
                </div>
                <form id="formlogin" action="http://localhost:3000/Cliente/Login" method="post" >
                    <div class="form-group">
                        <label for="email"><strong>Correo Electronico: </strong></label>
                        <input id="email" type="email" name="email" class="form-control" placeholder="Introduce su correo electronico aqui..."/>                
                    </div>                        
                    {{#if mensajeErrorCustom}}
                        <div class="row">
                            <div class="col">
                                <span class="text-danger"><small>{{mensajeErrorCustom}}</small></span>
                            </div>
                        </div>
                    {{/if}}
                    <div class="form-group">
                        <label for="password"><strong>Password: </strong></label>
                        <input id="password" type="password" name="password" class="form-control" placeholder="Introduce aqui su contraseña"/>                
                    </div>
                    {{#if mensajeErrorCustom}}
                        <div class="row">
                            <div class="col">
                                <span class="text-danger"><small>{{mensajeErrorCustom}}</small></span>
                            </div>
                        </div>
                    {{/if}}
                    <a id="submitform" class="btn btn-primary" ><img src="/public/images/BotonLoginUsuario.png"></a>
                </form>
            </div>
            <div class="col-8">                
                <img src="/public/images/formLogin.png">
                <a href="http:localhost:3000/Cliente/Registro"><img src="/public/images/BotonRegistrarUsuario.png"></a>
            </div>
        </div>
    </div>
    <script>
        //--- provocamos submit del formulario mediante javascript ----
        const form = document.getElementById('formlogin');   
        document.getElementById('submitform').addEventListener("click", () => { form.submit() });
    </script>
</body>
</html>
